<%= render "users/left", user: @user, book: @book %>

<h2>Books</h2>

<% @user.books.each do |book| %>
<%= attachment_image_tag book.user, :profile_image, :fill, 30, 30, fallback: "no-image.jpg", size:"30x30" %>
<%= link_to book_path(book) do %>
<%= book.title %>
<% end %>
<%= book.body %>
<% end %>

