<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<%= @user.name %>
<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no-image.jpg" %>
<%= @user.introduction %>

<% if @user.id == current_user.id %>
  <%= link_to "編集", edit_user_path(@user) %>
<% else %>
  <%= link_to "マイページ", user_path(current_user) %>
<% end %>
