<%= render "users/left", user: @user, book: @new_book %>

<h2>Book detail</h2>

<%= link_to user_path(@user) do %>
<%= attachment_image_tag @book.user, :profile_image, :fill, 30, 30, fallback: "no-image.jpg", size:"30x30" %>
<%= @book.user.name %>
<% end %>

<%= @book.title %>
<%= @book.body %>

<% if @book.user.id == current_user.id %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' } %>
<% end %>

